 <style>
                  body {
                    text-align: center;
                    background-image: url('bk.png');
                    style="margin: 0;
             height: 100vh;
             background-image: url('assets/bk.png');
             background-size: cover;
             background-repeat: no-repeat;
             background-position: center;">
                  }
                
    </style>